<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Baza postów</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="input-group me-2">
			<div class="input-group-text" id="btnGroupAddon"><span data-feather="search" class="align-text-bottom"></span></div>
			<input type="text" class="form-control" placeholder="Szukaj" aria-label="Szukaj" aria-describedby="btnGroupAddon">
		</div>

		<div class="btn-group me-2" role="group">
			<button type="button" class="btn btn-outline-secondary bg-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<span data-feather="user" class="align-text-bottom"></span>
				Autor
			</button>
			<ul class="dropdown-menu">
				<li *ngFor="let author of getUniqueAuthors()"><a class="dropdown-item" href="#">{{ author }}</a></li>
			</ul>
		</div>

		<div class="btn-group" role="group">
			<button type="button" class="btn btn-outline-secondary bg-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<span data-feather="calendar" class="align-text-bottom"></span>
				Ostatnie 30 dni
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Ostatnie 7 dni</a></li>
				<li><a class="dropdown-item" href="#">Ostatnie 24 godziny</a></li>
				<li><a class="dropdown-item" href="#">Ostatnia godzina</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="table-responsive">
	<!--	table-striped table-hover -->
	<table class="table">
		<thead>
		<tr>
			<th>Autor</th>
			<th>Treść posta</th>
			<th>Źródło</th>
			<th>Wiarygność</th>
			<th style="width: 100px">Link</th>
			<th>Ocena</th>
			<th style="width: 50px"></th>
		</tr>
		</thead>

		<tbody>
		<tr *ngFor="let row of rows">
			<td>
				{{ row.author }}
			</td>
			<td>
				<p *ngIf="row.contents.length > 64 && showHideMoreMap[row.id] !== true">{{ row.contents.substring(0, 64) }}&hellip;</p>
				<p *ngIf="row.contents.length <= 64 || showHideMoreMap[row.id] === true">{{ row.contents }}</p>
				<button class="btn btn-sm btn-outline-secondary float-end" (click)="showHideMore(row.id)" [style.display]="row.contents.length <= 64 ? 'none' : 'inherit'">Pokaż/Ukryj więcej</button>
			</td>
			<td>{{ row.source }}</td>
			<td><span [class]="[
				'badge',
				row.confidence > 70.0 ? 'text-bg-success' : 'text-bg-danger',
			]">{{ row.confidence.toFixed(1) }}%</span></td>
			<td>
				<span data-feather="link" style="height: 14px" class="align-text-bottom"></span>
				<a href="{{ row.link }}">Link</a>
			</td>
			<td>
				<span *ngIf="row.rate === true" class="badge text-bg-success">
					<span data-feather="check-circle" style="height: 14px; width: 14px" class="align-text-bottom mw-0 me-1 px-0"></span>
					Właściwy
				</span>
				<span *ngIf="row.rate === false" class="badge text-bg-danger">
					<span data-feather="x-circle" style="height: 14px; width: 14px" class="align-text-bottom mw-0 me-1 px-0"></span>
					Niewłaściwy
				</span>
				<span *ngIf="row.rate === null" class="badge text-bg-secondary">
					Brak
				</span>
			</td>
			<td>
				<div class="dropdown text-nowrap">
					<a class="btn text-light dropdown-toggle m-0 p-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span data-feather="more-vertical" style="height: 32px; color: #64748B;"></span>
					</a>

					<ul class="dropdown-menu dropdown-menu-end">
						<li><a href="#" class="dropdown-item" [class.disabled]="row.rate === true" (click)="row.rate !== true && onSubmitMarkAsCorrect(row.id)">
							<span data-feather="check-circle" style="height: 14px; width: 14px; vertical-align: 3px;" class="align-text-bottom mw-0 me-1 px-0"></span>
							Oznacz jako właściwy
						</a></li>
						<li><a href="#" class="dropdown-item" [class.disabled]="row.rate === false" (click)="row.rate !== false && onSubmitMarkAsIncorrect(row.id)">
							<span data-feather="x-circle" style="height: 14px; width: 14px; vertical-align: 3px;" class="align-text-bottom mw-0 me-1 px-0"></span>
							Oznacz jako niewłaściwy
						</a></li>
					</ul>
				</div>
			</td>
		</tr>
		</tbody>

		<tfoot>
		<tr>
			<td colspan="7">
				<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#createFormModal">
					<span data-feather="plus" class="align-text-bottom"></span>
					<span style="vertical-align: 3px">Dodaj wpis ręcznie</span>
				</button>
			</td>
		</tr>
		</tfoot>
	</table>
</div>

<div class="modal fade" id="createFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Ręczne dodawanie wpisu</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form [formGroup]="createForm" (ngSubmit)="onSubmitCreateForm()" id="createForm">
				<div class="modal-body">
					<label class="form-label" for="first-author">Autor:</label>
					<input id="first-author" class="form-control" type="text" formControlName="author" required/>

					<label class="form-label" for="last-contents">Last Name:</label>
					<textarea id="last-contents" class="form-control" formControlName="contents" rows="10" required></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
					<button type="submit" class="btn btn-primary" [disabled]="!createForm.valid">Dodaj wpis</button>
				</div>
			</form>
		</div>
	</div>
</div>
